body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("http://static.uk.groupon-content.net/s/v/cb2364473348/images/layout/site_bg_rays2.jpg");
  margin: 0px;
}
a {
  color: #00b7ff;
}
#fig {
  width: 430px;
  height: 225px;
}
#header {
  width: 100%;
  background: url("http://static.uk.groupon-content.net/s/v/cb448989775/images/layout/header_bg_sprite.png") repeat-x scroll left -206px #343434;
  height: 52px;
  margin-top: 0px;
  z-index: 300;
  position: fixed;
}
.logo {
  height: 100px;
  z-index: 100;
  top: 0px;
  left: 1px;
  position: fixed;
}
div#city-select,
div#country-select {
  color: #fff;
  position: fixed;
  top: 6px;
  left: 450px;
  font-size: 1.6em;
  font-weight: bold;
}
div#country-select {
  left: 250px;
}
#city-select-box,
#country-select-box {
  background-color: #fff;
  margin-top: 4px;
  padding-left: 4px;
  width: 240px;
  height: 32px;
  font-size: 1em;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#country-select-box {
  width: 75px;
}
#city-select-label,
#country-select-label {
  margin-top: -30px;
}
#canvas {
  background-color: #ccc;
  margin: 0px auto 30px auto;
  width: 932px;
  border: 2px solid #76a045;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0px 0px 6px #333;
  -webkit-box-shadow: 0px 0px 6px #333;
  box-shadow: 0px 0px 13px #333;
  display: none;
}
#city-total {
  margin-top: 60px;
  min-height: 70px;
  margin-right: 10px;
}
.deal {
  background-color: #fff;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #76a045;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0px 0px 6px #333;
  -webkit-box-shadow: 0px 0px 6px #333;
  color: #036;
}
.deal small {
  float: left;
  font-size: 0.7em;
  margin-left: 20px;
}
.dinfo {
  width: 612px;
  float: right;
  position: relative;
}
.dimg {
  width: 320px;
  float: left;
}
.dtitle {
  width: 260px;
  padding: 0px 5px;
  float: left;
  margin-left: 20px;
}
.tbls {
  width: 260px;
  position: relative;
}
table.results {
  margin-bottom: 4px;
  width: 260px;
  font-weight: bold;
  text-align: center;
  color: #003;
  border: 2px solid #8bd3f6;
  background-color: #cfeef6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table.totals {
  width: 300px;
  float: right;
}
table.active {
  width: 85px;
  margin: 0px 10px;
}
table.ph {
  width: 220px;
  margin: 0px 10px;
}
table.orange {
  border-color: #fc0;
  background-color: #ffe699;
  color: #f60;
}
table.orange .res_hdr {
  background-color: #fc0;
}
.col1-or {
  border-right: 2px solid #fc0;
  width: 120px;
}
table.green {
  border: 2px solid #88b455;
  background-color: #d1ffb3;
  color: #030;
}
table.green .res_hdr {
  background-color: #88b455;
}
table.green .col1 {
  border-right: 2px solid #88b455;
}
table.results tr td {
  padding: 4px;
}
.res_hdr {
  height: 25px;
  margin: 8px;
  font-size: 1.3em;
  background-color: #8bd3f6;
}
.res_lrg {
  padding: 10px;
  font-size: 1.6em;
}
.col1 {
  border-right: 2px solid #8bd3f6;
  width: 120px;
}
.hide {
  display: none;
}
