!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/jquery.flot.js')
    script(type='text/javascript', src='/js/client.js')
