!!!
html
	head
		title= title
		// link(rel='stylesheet', href='http://static.uk.groupon-content.net/s/v/1615910225/bundles/layout_bundle.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		#header
			img(src="http://static.uk.groupon-content.net/s/v/cb213166754/images/layout/groupon.png").logo
			div#city-select.hide
				label#city-select-label City : 
				select()#city-select-box
		#wrapper
			.bodyHome
			.boxContentMain!= body

		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
		script(type='text/javascript', src='/js/jquery.flot.js')
		script(type='text/javascript')
			$(document).ready(function() {
				$.getScript('/js/client-2.js', function() {
					console.log('client-2.js loaded! game on!');
					});
			});